# Example .env file 
# Copy this file to .env and fill in the values below

# PERENUAL API
# Obtain Perenual API key from:
# https://perenual.com/docs/api
PERENUAL_API_KEY=

# FIREBASE
# Obtain Firebase API key from Firebase Console
FIREBASE_APIKEY=
# Obtain Firebase configuration values from Firebase Console
FIREBASE_APPID=
FIREBASE_MeasurementID=

# LOCAL BACKEND PORT
BACKEND_PORT=3000