:root {
  /* Garden Buddy colour palette */
  --color-dark-green: #546B41;
  --color-light-green: #99AD7A;
  --color-beige: #DCCCAC;
  --color-cream: #FFF8EC;
}

.navbar {
  background-color: var(--color-dark-green);
}

.navbar a {
  color: var(--color-cream) !important;
}